

  
  /* Styles for the input container */
  .inputbox {
    margin-bottom: 20px; /* Adds space between the input form and the list */
}
  
  /* Ensure the input field itself is styled appealingly */
  .box, .inputbox {
    width: 100%; /* Use full width to ensure alignment */
    display: block; /* Ensures that elements stack vertically */
    margin: auto; /* Center the box horizontally */
    padding: 20px; /* Provides padding around the content */
}
  
  /* Reset default margins and paddings */
  body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .button{
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 5px;
    background-color: lightblue;


  }

  table {
    width: 80%; /* Adjust based on your design preference */
    margin: 0 auto; /* Center the table horizontally within its container */
    border-collapse: collapse; /* Clean up borders */
}


  