.box{
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    display: flex;

}
body {
    background-color: lightblue;
    margin: 0;
    display: ;
  }
  